body{
    width: 100%;
    height: 100%;
    background-image: url("../img/background.png");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul {
    padding-left: -40px;
    margin-left: -40px;
    margin-top: -10px;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: #8b8b8b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.header{
    width: 100%;
}
.left{
    float: left;
    width: 15%;
    height: 100%;
    background-color: rgba(1,2,2,0.83);
}
.left:hover{
    background-color: rgba(1,2,2,0.91);
}
.main{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    width: 60%;
    height: 100%;
    background-color: rgba(1,2,2,0.83);
    margin-bottom: 150px;
    display: table;
}
.right{
    float: left;
    width: 15%;
    height: 100%;
    background-color: rgba(1,2,2,0.83);
}
.right:hover{
    background-color: rgba(1,2,2,0.91);
}
.footer{
    color: #cccccc;
    position: fixed;
    height: 50px;
    width: auto;
    background-color: #333333;
    padding: 10px 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    text-align: center;
}
.newsbox{
    float: left;
    width: 100%;
    height: 150px;
    background-color: rgba(1,2,2,0.71);
    margin-top: 1%;
    margin-bottom: 1%;
}
.text_newsbox{
    width: 100%;
    height: 100%;
    margin: 1%;
}
.img_box{
    width: 100%;
}
.newsbox:hover{
    background-color: rgba(1,2,2,0.91);
}
.title{
    margin: 1%;
    size: 7px;
    color: #8b8b8b;
}
.content{
    margin: 2%;
    size: 5px;
    color: #8b8b8b;
}
.galery_box{
    margin: 1%;
}
.main_2{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    width: 60%;
    height: 100%;
    background-color: rgba(1,2,2,0.83);
    margin-bottom: 150px;
    display: table;
}